<div class="card-wrapper">
    <div class="card-image">
        <img src="{{inputData.imageUrl}}" class="image">
    </div>
    <div class="main-row">
        <div class="card-title">
            {{inputData.title}}
        </div>
        <div class="card-icons">
            <div class="insta-icon" (click)="goToInsta()">
                <img class="card-icon" src="../../../assets/images/card/instagram.svg">
            </div>
            <div class="like-icon" (click)="like(inputData.imageId)">
                <img class="card-icon" src="../../../assets/images/card/like.svg">
            </div>
        </div>
    </div>
    <div class="sub-row">
        {{inputData.description}}
    </div>
    <div class="date-row">
        {{inputData.date}}
    </div>
</div>