.card-wrapper {
    margin: 40px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 4px 6px 28px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 6px 28px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 6px 28px 3px rgba(0, 0, 0, 0.75);
    .card-image {
        width: 100%;
        height: 300px;
        .image {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
        }
    }
    .main-row {
        width: 100%;
        height: 55px;
        display: flex;
        flex-direction: row;
        .card-title {
            width: 70%;
            justify-content: start;
            margin: auto 8px;
            font-weight: 600;
            font-size: 20px;
        }
        .card-icons {
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: auto;
            .insta-icon {
                width: 50%;
            }
            .like-icon {
                width: 50%;
            }
        }
    }
    .sub-row {
        width: auto;
        height: 150px;
        margin: auto 8px;
        text-align: left;
    }
    .date-row {
        width: 100%;
        height: 25px;
    }
    .card-icon {
        width: 25px;
    }
}